h1{
  color: grey;  
}

#sistemas{
    color: blue;
}

#sistemas {
    color: rgb(0, 0, 255);
}

h1 {
    color: gray;
}

.investigacion1 {
    background-color: #f59ca0;
}

p {
    background-color: #a3ccfc;
}